/* Modal de confirmación habilitar */
.modal-header.confirmar-habilitar {
  background-color: #0824a4;
}
.modal-header.confirmar-habilitar .btn-close {
  filter: invert(1);
}
.modal-header.confirmar-habilitar .modal-title {
  color: white;
  font-weight: bold;
}
.modal-header.crear-medico .btn-close {
  filter: invert(1);
}
.modal-header.crear-medico {
  background-color: #0824a4;
}
.modal-header.crear-medico .modal-title {
  color: white;
  font-weight: bold;
}
.btn-success {
  font-weight: bold !important;
  box-shadow: 0 0.5rem 1rem rgba(8,36,164,0.25) !important;
}
.btn.btn-buscar {
  background-color: #0824a4 !important;
  color: white !important;
  border: none !important;
  font-weight: bold !important;
  box-shadow: 0 0.5rem 1rem rgba(8,36,164,0.25) !important;
}
.cabecera-clinica th {
  background-color: #0824a4;
  color: white;
}
