.btn-success {
  font-weight: bold !important;
  box-shadow: 0 0.5rem 1rem rgba(8,36,164,0.25) !important;
}
.btn.btn-buscar {
  background-color: #0824a4 !important;
  color: white !important;
  border: none !important;
  font-weight: bold !important;
}
.cabecera-clinica th {
  background-color: #0824a4;
  color: white;
}
