
.btn-buscar {
  background-color: #0824a4 !important;
  color: white !important;
  border: none;
  font-weight: bold;
}

.form-control:focus {
  border-color: #0824a4 !important;
  box-shadow: 0 0 0 0.2rem rgba(8,36,164,0.25) !important;
}
